# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [1]:
# Import Pandas
import pandas as pd

# Load NBA Data from CSV File
nba_data = pd.read_csv('nbastats2018-2019 - nbastats2018-2019.csv', sep = ',')
nba_data

# Use .describe() to find the Age Mean (average).
nba_data.describe()

# Use .groupby() and .mean() to find the Age mean (average).
nba_data['NBA Regular Season 2018-19'] = 'Average Age'
nba_data.groupby('NBA Regular Season 2018-19').mean('Age')[['Age']]


## Answer: The average age is 25.90 years old.

                                  Age
NBA Regular Season 2018-19
Average Age                 25.900192

# What player scored the most points?

In [36]:
# Import Numpy
import numpy as np

# Create a variable calculating each players total points, multiplying their points per game with the number of games played.
total_points = nba_data.Points * nba_data.G

# Add the Total Points variable as a column.
nba_data['Total Points'] = total_points

# Round the Total Points result to remove decimals as a player can't score a partial point.
nba_data['Total Points'] = np.round(nba_data['Total Points'])

# Update the Total Points to an integer to remove the '.0'.
nba_data['Total Points'] = nba_data['Total Points'].astype(int)

# Sort results by Total Points, descending, pulling back the top 5 results to answer who scored the most points; look for ties.
nba_data_points = nba_data[['Name', 'Total Points']].sort_values(by = ['Total Points'], ascending = False).head()
print(nba_data_points)


## Answer: James Harden scored the most points, totaling 2,816.

               Name  Total Points
202    James Harden          2816
179     Paul George          2156
37     Bradley Beal          2099
486    Kemba Walker          2099
299  Damian Lillard          2064

# What player had the most blocks during the season? Was it a post player (F/C)?

In [35]:
# Create a variable calculating each players total blocks, multiplying their blocks per game with the number of games played.
total_blocks = nba_data.Blocks * nba_data.G

# Add the Total Blocks variable as a column.
nba_data['Total Blocks'] = total_blocks

# Round the Total Blocks result to remove decimals as a player can't have a partial block.
nba_data['Total Blocks'] = np.round(nba_data['Total Blocks'])

# Update the Total Blocks to an integer to remove the '.0'.
nba_data['Total Blocks'] = nba_data['Total Blocks'].astype(int)

# Sort results by Total Blocks, descending, pulling back the top 5 results to answer who blocked the most shots; look for ties.
nba_data_blocks = nba_data[['Name', 'Total Blocks']].sort_values(by = ['Total Blocks'], ascending = False).head()
print(nba_data_blocks)


## Answer1: Myles Turner had the most blocks, totaling 200.
## Answer2: I don't see a data element that provides player position; google identifies Myles Turner as a Center.

                  Name  Total Blocks
476       Myles Turner           200
183        Rudy Gobert           186
303        Brook Lopez           178
419  Mitchell Robinson           158
330       JaVale McGee           150

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [38]:
# I don't see a data element that cooresponds with a team or player win percentage.
# I decided to use WS48, win shares per 48 minutes, to answer this question.

# Use .groupby() and .mean() to find the WS48 mean; sort by average descending; bring back top 5 results; look for ties.
nba_win_per = nba_data[['Team', 'WS48']].groupby('Team').mean('WS48').sort_values(by = ['WS48'], ascending = False).head()
print(nba_win_per)


## Answer: Based on the WS48 statistic, the Houston Rockets had the best chance to win a title based on the regular season.

                     WS48
Team
Houston Rockets  0.139846
Milwaukee Bucks  0.137929
Boston Celtics   0.134867
Toronto Raptors  0.126750
Utah Jazz        0.123267

# What player had the best 3-pt percentage?

In [39]:
# Sort the data by 3-pt percentage, descending, printing Name and 3-pt percentage; bring back the top 5 results to see ties.
best_3_pt_percentage = nba_data.sort_values(by = ['FG3%'], ascending = False).head()
print(best_3_pt_percentage[['Name', 'FG3%']])


## Answer: Scott Machado, Jordan Sibert, Trevon Duval, and Eric Moreland all tied for the best 3-pt percentage at 100%.

              Name   FG3%
312  Scott Machado  1.000
439  Jordan Sibert  1.000
147   Trevon Duval  1.000
352  Eric Moreland  1.000
95    Troy Caupain  0.667

# Who played the most minutes during the season

In [41]:
# Create a variable calculating each players total minutes, multiplying their minutes per game with the number of games played.
total_minutes = nba_data.MP * nba_data.G

# Add the Total Minutes variable as a column.
nba_data['Total Minutes'] = total_minutes

# Sort results by Total Minutes, descending, pulling back top 5 results to answer who played the most minutes; look for ties.
nba_data_minutes = nba_data[['Name', 'Total Minutes']].sort_values(by = ['Total Minutes'], ascending = False).head()
print(nba_data_minutes)


## Answer: Bradley Beal played the most minutes during the season, totaling 3,025.8.

              Name  Total Minutes
37    Bradley Beal         3025.8
202   James Harden         2870.4
486   Kemba Walker         2861.8
208  Tobias Harris         2845.4
179    Paul George         2841.3

# What player given their player efficiency rating was the clutchest during the season?

In [42]:
# Sort the data by PER, descending, printing Name and PER; bring back the top 5 results to see ties.
best_PER = nba_data.sort_values(by = ['PER'], ascending = False).head()
print(best_PER[['Name', 'PER']])


## Answer: Zhou Qi was the clutchest during the season based on player efficiency rating (PER); PER of 80.4.
## Zhou Qi only played 1 minute in 1 game all season.
## Looking at minutes played, players that averaged at least half the game, Giannis Antetokounmpo would be most clutch.

                      Name   PER
405                Zhou Qi  80.4
147           Trevon Duval  38.3
394         Gary Payton II  36.9
501          Alan Williams  32.9
15   Giannis Antetokounmpo  30.9

# What team had the youngest roster?

In [40]:
# Use .groupby() and .mean() to find the Age mean by team; bring back 5 teams with the lowest average to look for ties.
nba_data.groupby('Team').mean('Age')[['Age']].sort_values(by = ['Age']).head()


## Answer: The Chicago Bulls had the youngest roster, with an average player age of 24.31.

                        Age
Team
Chicago Bulls     24.312500
Sacramento Kings  24.400000
Orlando Magic     24.533333
New York Knicks   24.625000
Phoenix Suns      24.761905

# Who is the highest paid player during the season?

In [52]:
# Create copy of the data and update the Salary column to replace '-' values with a 0 so data type can be reformatted to float.
nba_data_copy = nba_data.copy()
nba_data_copy['Salary'].replace('-', 0, inplace = True)

# Update the data type of the Salary column to float.
nba_data_copy['Salary'] = nba_data_copy['Salary'].astype(float)

# Sort the data by Salary, descending, printing Name and Salary; bring back the top 5 results to see ties.
highest_paid = nba_data_copy.sort_values(by = ['Salary'], ascending = False).head()
print(highest_paid[['Name', 'Salary']])


## Answer: Steph Curry was the highest paid player during the season, making $37,457,154.00.

                  Name      Salary
121      Stephen Curry  37457154.0
253       LeBron James  35654150.0
391         Chris Paul  35654150.0
496  Russell Westbrook  35654150.0
198      Blake Griffin  32088932.0

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [57]:
# Create a copy of the data and remove rows where the player had zero free throw attempts; must have attempted at least 1.
nba_data_copy2 = nba_data.copy()
nba_data_copy2 = nba_data_copy2.drop(nba_data_copy2[nba_data_copy2['FTA'] == 0].index)

# Sort the data by free throw %, ascending, printing Name and FT%; bring back the top 10 results to see ties.
low_free_throw = nba_data_copy2.sort_values(by = ['FT%']).head(10)
print(low_free_throw[['Name', 'FT%']])


## Answer: I wouldn't want Terrence Jones, Donatas Motiejunas, Tahjere McCall, C.J. Williams, Dzanan Musa, Haywood Highsmith.

                   Name    FT%
268      Terrence Jones  0.000
356  Donatas Motiejunas  0.000
325      Tahjere McCall  0.000
502       C.J. Williams  0.000
360         Dzanan Musa  0.000
221   Haywood Highsmith  0.000
168      Melvin Frazier  0.250
310         Tyler Lydon  0.333
451        Ray Spalding  0.333
324    Luc Mbah a Moute  0.400